{% extends "translator/base.html" %}

{% block head %}
<title>Home</title>
{% endblock head %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Translate">
    </form>
    <h1>{{ input }}</h1>
    <ol type="I">
        {% for sim, trad, py, def in desc %}
            {% if sim != trad %}
                <li>{{ sim }} <small>or</small> {{ trad }}<br></li>
            {% else %}
                <li>{{ sim }}<br></li>
            {% endif %}
            {{ py }}<br>
            <ol type="i"> 
                {% for d in def %}
                    <li>{{ d }}</li>
                {% endfor %}
            </ol><br>
        {% endfor %}
    </ol>
{% endblock content %}