{% extends "vocab_builder/base.html" %}

{% block head %}
<title>History</title>
{% endblock head %}

{% block content %}
    <ul>    
    {% for e in input_history %}
        <div class="container">
            {{ e.input_raw }} <small>{{ e.date_input }}</small>
            <ol type="i">
            {% for f in user_vocab %}
                {% if f.input_history_id == e.id %}
                <li> {{ f.phrase }} </li>
                {% endif %}
            {% endfor %}
            </ol>
        </div>
    {% endfor %}
    </ul>
{% endblock content %}